{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load user_filters %}
  <main role="main" class="container">
    <div class="row">
      <!-- Левый вспомогательный блок -->
      <div class="col-md-3 mb-3 mt-1">
        <div class="card">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="h3">
                  Об авторе
                </div> 
              </li>
              <li class="list-group-item">
                <div class="h6 text-muted">
                  Краткая информация об авторе
                </div>
              </li>
            </ul>                                               
          </div>                    
        </div>                
      </div>
      <!-- Тело страницы -->
      <div class="col-md-9">
        <div class="card-body">                    
          <div class="card-text">
            <p>
                Привет, меня зовут Константин. Да, не самое короткое имя. Когда мама была беременна, 
                ей нравилось имя "Егор", но отец был против, говорил, что "Егорка скатился с горки". 
                Вот так я как Константин и живу уже почти 30 лет.
            </p>
            <p>
                Я был весьма застенчив в школе, но в университете это поменялось. 
                Там я жил в общежитии, рядом были друзья, через пару этажей жила сестра, 
                так пришли моя уверенность и раскрепощенность.
                Начиная с детства, я очень любил лыжи, что не прошло в студенчестве и 
                продолжается до сих пор.
                На последних курсах института я нашел более-менее постоянную работу, 
                но потом все же сменил ее (хотя  обе были по моему "профилю"). 
                На ней я работаю и по настояющий момент, хотя не скажу, что она устаривает меня на 100%.
            </p>
            <p>
                В жизни нужно что-то менять, поэтому прошлой осенью в моей жизни появился 
                маленький черный кот. Он смотрел такими глазами на фотографии из приюта, 
                что запал в душу и в этот же вечер он был уже домашним :).
            </p>
            <p>
                Также я решил попробовать себя в программировании, поэтому собственно и пишу этот рассказ.
            </p>
          </div>                    
        </div>                
      </div>            
    </div>        
  </main>
{% endblock %} 