{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load user_filters %}
  <main role="main" class="container">
    <div class="row">
      <!-- Левый вспомогательный блок -->
      <div class="col-md-3 mb-3 mt-1">
        <div class="card">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="h3">
                  Об авторе
                </div> 
              </li>
              <li class="list-group-item">
                <div class="h6 text-muted">
                  Краткая информация об авторе
                </div>
              </li>
            </ul>                                               
          </div>                    
        </div>                
      </div>
      <!-- Тело страницы -->
      <div class="col-md-9">
        <div class="card-body">                    
          <div class="card-text">
            <p>
              Привет, меня зовут Константин, а это мой сайт который много что умеет. Например, умеет собирать
              посты пользователей, а сами пользователи могут комментировать посты других людей,
              подписываться на тех авторов которых они находят интересными.
            </p>
            <p>
              Но эта страница больше об авторе чем о самом сайте, поэтому тут я хочу рассказать
              о себе, и почему вообще этот сайт существует. Как я писал выше меня зовут Константин - 
              не самое короткое имя, дело в том, что когда мама была беременна,  
              ей нравилось имя "Егор", но отец был против, говорил, что "Егорка скатился с горки". 
              Вот так я как Константин и живу уже почти 30 лет:)
            </p>
            <p>
              Так получилось что я провел шикарные студенческие годы, хорошо учился и спустя пять лет
              стал дипломированным инженером, а потом начал работать по специальности.
              И вроде бы все шло неплохо, да только со временем начал замечать что работа перестает 
              приносить удовольствие, а вокруг не так что бы много кто пытался бы сделать что-то 
              принципиально новое. Вот так, месяц за месяцем я пришел к мысли что пора менять работу,
              а потом и профессию в целом.
            </p>
            <p>
              Уже почти два года я что-то пишу и в чем то разбираюсь, сначала просто по чуть-чуть
              потом больше, и сейчас сижу уже часами после работы(да бывает и на работе, чего уж там:)
              и пишу код, читаю книги, решаю алгоритмические задачи и много чего еще.
            </p>
            <p>
              Этот сайт - учебный проект от яндекс практикума, это мой первый полноценный бекенд, 
              который я написал с нуля, я искренне вложил в него всю свою душу.
              Наверное в него можно много чего еще добавить, но для целей проекта достаточно 
              и того что в нем уже есть. Я искренне надеюсь что вы напишете в нем несколько своих заметок
              и найдете что-нибудь интересное для себя.
            </p>
          </div>                    
        </div>                
      </div>            
    </div>        
  </main>
{% endblock %} 